DATABASE_URL=postgres://postgres:postgres@localhost:5432/bearuang_go_db?sslmode=disable
MIGRATIONS_DIR=migrations
ENVIRONMENT=development
JWT_SECRET=development-secret

POSTGRES_DB=bearuang_go_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
